@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Roboto");

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  background-color: darkgray;
  background-color: #222;
  color: #FAF;
  height: 100vh;
  overflow-x: hidden;
}

.shutter{
  text-align: center;
  color: white;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  transition: all 0.5s ease-out;
  font-weight: 800;
  font-size: 5rem;
  left: 0;
  right: 0;
  overflow: hidden;
}

.shutter-top{
  height: 50vh;
  width: 100vw;
  background-color: black;
  position: absolute;
  align-items: flex-end;
  top: 0;
}

.shutter-bottom{
  display: flex;
  height: 50vh;
  width: 100vw;
  align-items: flex-start;
  background-color: black;
  position: absolute;
  bottom: 0;
}

.shutter-bubble-1{
  position: absolute;
  height: 40vh;
  width: 40vh;
  border-radius: 50%;
  opacity: 25%;
  top: 0;
  left: 1rem;
}

.shutter-bubble-2{
  position: absolute;
  width: 20vh;
  height: 20vh;
  border-radius: 50%;
  opacity: 20%;
  top: 2rem;
  right: 5rem;
}

.shutter-close-top{
  transform: translateY(-100%);
  overflow: hidden;
}

.shutter-close-bottom{
  transform: translateY(100%);
  overflow: hidden;
}

.shutter-close-top::after{
  display: none;
}
.shutter-close-bottom::after{
  display: none;
}

/*Header*/
.navbar{  
  width: 100%;
  background-color: #121214;
}

.navbar-nav{
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 1rem;
  justify-content: space-around;
}

.navbar-brand{
  justify-self: start;
  margin-left: 1rem;
}

.navbar-brand a{
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
  letter-spacing: 0.5rem;
}
.navbar-nav-links{
  flex: 1;
}
.navbar-nav-links ul{
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
}

.navbar-nav-links li{
  padding: 0 0.5rem;
  margin: 1rem 0.5rem;
}

.navbar-nav-links a{
  color: #FFF;
  text-decoration: none;
  transition: all 0.2s ease;
  margin: 0.5rem;
  outline: none;
}

.navbar-nav-links a:hover{
  color: #CCC;
}

.space{
  flex: 1;
}

/*Toggle Button*/
.toggle-btn{
  height: 0.8rem;
  width: 1.15rem;
  background: transparent;
  border: none;
  display: none;
  flex-direction: column;
  padding: 0;
  box-sizing: border-box;
  justify-content: space-between;
}

.toggle-btn:focus{
  outline: none;
}

.toggle-btn-line{
  background-color: white;
  height: 0.08rem;
  width: 1.15rem;
}

.dropdown{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #121318;
  margin-top: 0;
  transform: translateY(-150%);
  transition: all 0.5s ease-in-out;
  opacity: 0;
  position: fixed;
  box-shadow: 0 6px 4px -4px #070708;
  max-width: 100%;
  text-align: center;
  z-index: 2;
}

.dropdown li{
  list-style: none;
  text-align: center;
  font-size: 1rem;
  margin: 4vh auto;
}

.dropdown a{
  text-decoration: none;
  color: white;
  font-size: 2.5rem;
  transition: all 0.4s ease;
}

.dropdown li a:hover, .dropdown li a:active{
  color: rgb(49, 170, 55);
  font-size: 3rem;
}

.dropdown.open{
  transform: translateY(0);
  opacity: 0.9;
}

/*HOME PAGE*/

.header-container{
  background: linear-gradient(45deg, #121214, #454547, #3c7e16);
  height: 50vh;
  padding: 2.5rem 0.5rem;
  max-width: 100%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-header{
  display: flex;
  align-items: center;
  position: relative;
}

.main-btn{
  position: absolute;
  padding: 1rem;
  font-size: 2.5rem;
  color: #FFF;
  cursor: pointer;
  background: none;
  border: none;
  transition: all 0.25s ease-in-out;
  text-decoration: none;
  outline: none;
}

.main-btn:hover, .main-btn:focus{
  color: #CCC;
  font-size: 2.8rem;
}

.main-header h1{
  font-size: 10rem;
  letter-spacing: 1.5rem;
  font-family: 'Roboto', sans-serif;
  display: flex;
  align-items: center;
  transition: all 0.5s ease-in-out;
  margin: 0;
  padding: 0;
}

.main-header h2{
  font-size: 4.5rem;
  letter-spacing: 0.5rem;
  font-family: 'Poppins', sans-serif;
  display: flex;
  align-items: center;
  transition: all 0.5s ease-in-out;
  margin: 0;
}

.main-header h1 span{
  font-size: 18rem;
  color: #42b625;
  /*transform: skewX(-10deg);*/
}

.raise{
  transform: translateY(-30%);
}

.main-header img{
  height: 40vh;
  width: 40vh;
  border-radius: 50%;
  cursor: pointer;
  margin-left: 4rem;
}

.about-container{
  display: flex;
  flex-direction: column;
  width: 90vw;
  height: 50vh;
}

.about-container h2{
  margin-bottom: 2rem;
}

.soc{
  position: absolute;
  bottom: 0;
  right: 0;
}

.rotate{
  animation: rotate 12s infinite linear, pulse 10s linear infinite;
}

.fade{
  animation: fadeIn 2s ease;
}

.tab-open{
  flex: 1;
  width: 100%;
  border: solid 2px palegoldenrod;
  animation: fadeIn 1s ease-in-out;
}

.freq-container{
  display: flex;
  justify-content: space-around;
  margin-bottom: auto;
}

.freq{
  height: 4vh;
  width: 1vh;
  background-color: yellow;
  top: 50%;
  padding: 3vh 0;
  margin: 0;
}

.freq1{
  background-color: red;
  animation: pop 0.7s linear infinite;
}
.freq2{
  background-color: yellow;
  animation: pop 0.5s linear infinite;
}
.freq3{
  background-color: orange;
  animation: pop 1.2s linear infinite;
}
.freq4{
  background-color: turquoise;
  animation: pop 1.5s linear infinite;
}
.freq5{
  background-color: blue;
  animation: pop 0.5s linear infinite;
}
.freq6{
  background-color: cornflowerblue;
  animation: pop 0.8s linear infinite;
}
.freq7{
  background-color: orchid;
  animation: pop 0.4s linear infinite
}
.freq8{
  background-color: rebeccapurple;
  animation: pop 1s linear infinite
}

.home-content{
  font-size: 6rem;
  font-weight: 800;
  text-align: center;
  color: black;
  font-family: 'Roboto', sans-serif;
  text-shadow: 3px 3px 3px gray;
  height: 36.4vh;
  width: 100vw;
  display: flex;
  overflow: hidden;
}

.panel {
  background: #3e0e58;
  box-shadow: inset 0 0 0 4px rgba(255,255,255,0.1);
  color: white;
  text-align: center;
  align-items: center;
  /* Safari transitionend event.propertyName === flex */
  /* Chrome + FF transitionend event.propertyName === flex-grow */
  transition:
    flex 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
    background 0.2s;
  background-size: cover;
  background-position: center;
  flex: 1;
  justify-content: center;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.panel > * {
  margin: 0;
  width: 100%;
  transition: transform 0.5s;
  flex: 1 0 auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top:2rem;
  font-size: 4rem;
}

.panel > *:first-child { transform: translateY(-150%); }
.panel.open-active > *:first-child { transform: translateY(0); }
.panel > *:last-child { transform: translateY(100%); }
.panel.open-active > *:last-child { transform: translateY(0); }

.panel.open {
  flex: 5;
  font-size: 5rem;
}

/* .panel1 { background-image:url(https://source.unsplash.com/gYl-UtwNg_I/1500x1500); }
.panel2 { background-image:url(https://source.unsplash.com/rFKUFzjPYiQ/1500x1500); }
.panel3 { background-image:url(https://images.unsplash.com/photo-1465188162913-8fb5709d6d57?ixlib=rb-0.3.5&q=80&fm=jpg&crop=faces&cs=tinysrgb&w=1500&h=1500&fit=crop&s=967e8a713a4e395260793fc8c802901d); }
.panel4 { background-image:url(https://source.unsplash.com/ITjiVXcwVng/1500x1500); }
.panel5 { background-image:url(https://source.unsplash.com/3MNzGlQM7qs/1500x1500); } */

.panel-btn-container{
  display: flex;
  justify-content: space-evenly;
  font-size: 5rem;
}

.panel-btn-container > *{
  cursor: pointer;
  transition: all 0.5s ease;
}

.panel-btn-container > *:hover{
  animation: bounce 0.4s ease;
}

.socials{
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 4rem;
  display: flex;
  flex-direction: column;
  padding: 0;
}

.socials h5{
  margin-bottom: 0.2rem;
  text-align: center;
}

.icon{
  margin: auto 0.8rem;
  transition: all 0.4s ease-in;
}

.icon:hover, .icon:focus, .icon:active{
  animation: bounce 0.4s ease;
  cursor: pointer;
  font-size: 4.2rem;
  color: rgb(154, 94, 223);
}

.spotify:hover{
  color: #1DB954;
}

.soundcloud:hover{
  color: #FF7700;
}

.instagram:hover{
  color: rgb(154, 94, 223);
}

.unhidden{
  visibility: visible;
  opacity: 1;
  transition: all 0.5s linear;
}

.hidden{
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s linear;
  transform: scaleX(0.2);
}

.test-enter {
  opacity: 0;
  transform: scaleX(0.5);
  position: absolute;
}
.test-enter-active {
  opacity: 1;
  transition: all 0.5s linear;
  transform: scaleX(1);
}
.test-exit {
  opacity: 1;
  transform: scaleX(1);
  position: absolute;
}
.test-exit-active {
  opacity: 0;
  transform: scaleX(0.5);
  transition: all 0.2s linear;
}

/*DRUM PAD*/
.pad-header{
  font-size: 5rem;
  text-align: center;
}

.pad-container{
  display: flex;
  margin: auto 2rem;
}

.pad-deck{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.pad{
  border: solid 1px red;
  flex: 0 24%;
  height: 15vh;
  width: 15vh;
  margin-bottom: 1.5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  
}

.pad1{
  background-color: rgb(199, 32, 32);
}

.pad2{
  background-color: rgb(199, 32, 32);
}

.pad3{
  background-color: rgb(199, 32, 32);
}

.pad4{
  background-color: rgb(199, 32, 32);
}

.pad5{
  background-color: rgb(199, 32, 32);
}

.pad6{
  background-color: rgb(199, 32, 32);
}

.pad7{
  background-color: rgb(199, 32, 32);
}

.pad8{
  background-color: rgb(199, 32, 32);
}

.pad9{
  background-color: rgb(199, 32, 32);
}

.pad10{
  background-color: rgb(199, 32, 32);
}

.pad11{
  background-color: rgb(199, 32, 32);
}

.pad12{
  background-color: rgb(199, 32, 32);
}

.pad13{
  background-color: rgb(199, 32, 32);
}

.pad14{
  background-color: rgb(199, 32, 32);
}

.pad15{
  background-color: rgb(199, 32, 32);
}

.pad16{
  background-color: rgb(199, 32, 32);
}

.down{
  background-color: blueviolet;
}

.pad-controls{
  border: solid 1px black;
  width: 90%;
  text-align: center;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@keyframes pulse {
  0%
  {
    transform: scale(0.9) rotate(0deg);
  }
  20%
  {
    transform: scale(1) rotate(80deg);
  }
  40%
  {
    transform: scale(0.9) rotate(160deg);
  }
  60%
  {
    transform: scale(1) rotate(240deg);
  }
  100%
  {
    transform: scale(0.9) rotate(364deg);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  } 
  to {
    opacity: 0;
    display: none;
  }
}
@keyframes pop {
  from {
    transform: scaleY(1.8);
  } to {
    transform: scaleY(0.1);
  }
}

@keyframes bounce{
  0%{
    transform: translateY(0);
  }
  50%{
    transform: translateY(-0.2rem);
  }
  100%{
    transform: translateY(0);
  }
}

@media only screen and (max-width: 768px){
  .navbar{
    width: 100vw;
  }
  .shutter{
    font-size: 3.5rem;
  }
  .navbar-nav-links{
    display: none;
  }

  .toggle-btn{
    display: flex;
    cursor: pointer;
  }

  /*MAIN PAGE*/
  .main-header{
    max-width: 100vw;
  }
  .main-header div h1{
    font-size: 2rem;
    letter-spacing: 0.6rem;
  }

  .main-header div h1 span{
    font-size: 3rem;
  }

  .main-header img{
    display: none;
  }
}